<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>

<li><%= link_to "view 1", static_pages_view_1_path %></li>

<li><%= link_to "view 2", static_pages_view_2_path %></li>

<li><%= link_to "view 3", static_pages_view_3_path %></li>


<li><%= link_to "view 4", static_pages_view_4_path %></li>

<li><%= link_to "view 5", static_pages_view_5_path %></li>

<li><%= link_to "view 6", static_pages_view_6_path %></li>